﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Twitch Channel Guide</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)

</head>
<body>
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
                <div id="ToggleSidebar" class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Profile" data-icon="&#xe007;" style=" font-size: 20px; color: #ffffff;" "></div>
        </div>
        <!--logo start-->
        <a href="@Url.Action("Index", "Home")" class="logo"><b>Twitch Guide</b></a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
            <!-- links start -->
            <ul class="nav top-menu">
                <li>
                    <a href="@Url.Action("AllUsers", "Home")" class="menuLinks">  Members</a>
                </li>
                <li>
                    <span class="nav navbar-nav form-inline" id="SearchBar">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Search by Username">
                        <button class="btn btn-theme" id="btnSearch">Search</button>
                    </span>
                </li>
            </ul>
            <!-- links end -->

        </div>
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li>@Html.Partial("_LoginPartial")</li>
            </ul>
        </div>
    </header>
    <!--top menu end-->
    <!--sidebar start-->
    @Html.Partial("_SideBarPartial")
    <!--sidebar end-->
    <section id="main-content">
        <section class="wrapper">
            @RenderBody()
        </section>
    </section>

    <!--footer start-->
    <footer class="myFooter">
        <a href="@Url.Action("AboutUs", "Home")" class="AboutUsLink"><b>About Us</b></a>
    </footer>
    <!--footer end-->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/themeScript")
    @RenderSection("scripts", required: false)


    <script>
                $("#btnSearch").click(function () {
                    location.href = "../Users/" + $("#name").val();
                });
                $("#btnChl").click(function () {
                    var tempViewChannel = "https://player.twitch.tv/?channel=" + $("#chlID").val() + "&muted=true";
                    document.getElementById("streamer").src = tempViewChannel;
                });
    </script>


    @if (Request.IsAuthenticated)
            {
        <script>
                    function setAuthHeader(xhr) {
                        var token = "@ViewBag.token";
                        xhr.setRequestHeader('Accept', 'application/vnd.twitchtv.v5+json');
                        xhr.setRequestHeader('Client-ID', 'kx6k6d64t0ok27s5sfyo1w5n1q3dn6');
                        xhr.setRequestHeader('Authorization', 'OAuth ' + token);
                    };
        </script>
    }

</body>

</html>
