﻿@if (Request.IsAuthenticated)
{
    @model TwitchGuide.Models.User
}

@{
    ViewBag.Title = "Home";
    //make a newsList using controller ViewData
    List<TwitchGuide.Models.SiteNews> newsList = (List<TwitchGuide.Models.SiteNews>)ViewData["MyData"];
}



<div class="col-lg-3 ds" style="z-index:3;">
    <h3>WHATS NEW</h3>
    @foreach (var item in @newsList.Take(3))
    {
        <div class="desc">
            <div class="thumb">
                <span><i><img class="img-circle" src="@item.User.Avatar" alt="Avatar" height="25" width="25" /></i></span>
            </div>
            <div class="details">
                <p><b>@Html.DisplayFor(modelItem => item.News.Title)</b></p>
                <p>@Html.DisplayFor(modelItem => item.News.Content)</p>
                <p><muted>Added by @Html.DisplayFor(modelItem => item.User.Username)<br /> @Html.DisplayFor(modelItem => item.News.DateAdded)</muted></p>
            </div>
        </div>
    }
    <h5><b>@Html.ActionLink("<----- Older News", "Index", "News")</b></h5>
</div>
<br />
<span class="form-inline" id="ChannelController">
    <input type="text" class="form-control" name="chlID" id="chlID" placeholder="lowercase username here"  style ="padding-right: 100px;">
    <button class="btn btn-theme" id="btnChl">Change Channel</button>
    </span>
<br />
<br />

<div class="col-md-5 collapse in" id="Stream">
    <iframe id="streamer"
            src="https://player.twitch.tv/?channel=a_seagull"
            height="420"
            width="560"
            frameborder="0"
            scrolling="no"
            allowfullscreen="true"></iframe>
</div>

